:root {
    --back-color: #121729;
    --back-color-hover: #242d48;
    --high-font-color: #f6f9fe;
    --main-font-color: #bfcde5;
    --back-color-contact: #008d9d;
    --max-main-width: 800px;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: var(--back-color);
    color: var(--main-font-color);
}


@media only screen and (max-width: 992px) {

    #left-side {
        position: relative;
        margin-right: 20px;
    }

}

@media only screen and (min-width: 993px) {

    #left-side {
        position: fixed;
        width: 360px;
        margin-left: 30px;
        margin-right: 20px;
    }

    .card:hover {
        background-color: var(--back-color-hover);
        color: var(--high-font-color);

        .card-title {
            color: orange;
        }
    }

    #contacts {
        height: 12ex;
        align-content: end;

        img {
            width: 30px;
            height: 30px;
            margin: 5px;
            border-radius: 3px;
            background-color: var(--back-color-contact);
        }
    }

    .switch {
        position: fixed;
    }
}

h3,
h5,
h6 {
    font-weight: normal;
    color: var(--high-font-color);
}

#top-p {
    margin-top: 30px;
    text-indent: 30px;
}

p {
    text-align: justify;
}

#my-photo {
    object-fit: cover;
    object-position: 100% 80%;
    scale: 1.1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 30px;
}

.card {
    background-color: var(--back-color);
    border-radius: 20px;
}

.screen-shot {
    margin: 20px 10px;
    border-radius: 5px;
}

.btn-small {
    margin: 3px;
    height: 30px;
    border-radius: 10px;
}

.topic {
    width: 100%;
    border-bottom: 1px solid var(--main-font-color);
}